name: Release
on:
  schedule:
    - cron: '1 22 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-24.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      # Setup env
      - name: Setup
        run: |
          sudo apt update -y -qqq
          sudo apt autoremove --purge -y needrestart || : 
          sudo systemctl stop docker.service containerd.service >/dev/null 2>&1 || : 
          sudo systemctl disable docker.service containerd.service >/dev/null 2>&1 || : 
          sudo apt autoremove --purge -y '^docker.*' '^container.*' '^podman.*' crun runc '^php.*' '^lxd.*' '^snap.*'
          sudo apt autoremove --purge -y --allow-remove-essential $(dpkg -l | grep -i -E 'firefox|firebird|google-chrome-stable' | awk '{print $2}' | sort -V | uniq | paste -sd" ")
          sudo rm -fr ~/snap /snap /var/snap /var/lib/snapd /var/cache/snapd /usr/lib/snapd
          sudo apt install -y chrony; sudo systemctl start chrony; sleep 10; sudo chronyc makestep
          sudo apt install -y -qqq bash wget ca-certificates curl git openssl
          sudo apt install -y -qqq binutils coreutils util-linux findutils diffutils patch sed gawk grep file gzip bzip2 xz-utils tar
          sudo apt install -y -qqq rpm libxml2-utils
          #sudo apt upgrade -y -qqq
          sudo ln -svf bash /bin/sh
          sudo rm -fr /tmp/*

      - name: Download google-chrome-stable
        run: |
          sudo bash dl-google-chrome-stable.sh

      - name: Generate release tag env
        run: |
          _chrome_deb_ver="$(/bin/ls -1 /tmp/_output/chrome/linux/*deb | sed -e 's|.*google-chrome-stable_||g'  -e 's|_amd.*||g')"
          _chrome_rpm_ver="$(/bin/ls -1 /tmp/_output/chrome/linux/*rpm | sed -e 's|.*google-chrome-stable_||g'  -e 's|_x86.*||g')"
          _chrome_win_mu_64_ver="$(/bin/ls -1 /tmp/_output/chrome/windows/google-chrome-stable_*x64.exe | sed -e 's|.*google-chrome-stable_||g' -e 's|_x.*||g')"
          _chrome_win_mu_86_ver="$(/bin/ls -1 /tmp/_output/chrome/windows/google-chrome-stable_*x86.exe | sed -e 's|.*google-chrome-stable_||g' -e 's|_x.*||g')"
          _chrome_win_su_64_ver="$(/bin/ls -1 /tmp/_output/chrome/windows/google-chrome-stable-singleuser_*x64.exe | sed -e 's|.*google-chrome-stable-singleuser_||g' -e 's|_x.*||g')"
          _chrome_win_su_86_ver="$(/bin/ls -1 /tmp/_output/chrome/windows/google-chrome-stable-singleuser_*x86.exe | sed -e 's|.*google-chrome-stable-singleuser_||g' -e 's|_x.*||g')"
          echo "_chrome_deb_ver=${_chrome_deb_ver}" >> $GITHUB_ENV
          echo "_chrome_rpm_ver=${_chrome_rpm_ver}" >> $GITHUB_ENV
          echo "_chrome_win_mu_64_ver=${_chrome_win_mu_64_ver}" >> $GITHUB_ENV
          echo "_chrome_win_mu_86_ver=${_chrome_win_mu_86_ver}" >> $GITHUB_ENV
          echo "_chrome_win_su_64_ver=${_chrome_win_su_64_ver}" >> $GITHUB_ENV
          echo "_chrome_win_su_86_ver=${_chrome_win_su_86_ver}" >> $GITHUB_ENV

      - name: Upload deb files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_deb_ver }}
          files: /tmp/_output/chrome/linux/google-chrome-stable_${{ env._chrome_deb_ver }}*.deb*
          overwrite_files: false

      - name: Upload rpm files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_rpm_ver }}
          files: /tmp/_output/chrome/linux/google-chrome-stable_${{ env._chrome_deb_ver }}*.rpm*
          overwrite_files: false

      - name: Upload mu x64 exe files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_win_mu_64_ver }}
          files: /tmp/_output/chrome/windows/google-chrome-stable_${{ env._chrome_win_mu_64_ver }}_x64.exe*
          overwrite_files: false

      - name: Upload mu x86 exe files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_win_mu_86_ver }}
          files: /tmp/_output/chrome/windows/google-chrome-stable_${{ env._chrome_win_mu_86_ver }}_x86.exe*
          overwrite_files: false

      - name: Upload su x64 exe files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_win_su_64_ver }}
          files: /tmp/_output/chrome/windows/google-chrome-stable-singleuser_${{ env._chrome_win_su_64_ver }}_x64.exe*
          overwrite_files: false

      - name: Upload su x86 exe files
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env._chrome_win_su_86_ver }}
          files: /tmp/_output/chrome/windows/google-chrome-stable-singleuser_${{ env._chrome_win_su_86_ver }}_x86.exe*
          overwrite_files: false

      - name: Clean
        run: >
          cd /tmp;
          sudo rm -fr /tmp/*
